body {
background: rgb(107, 219, 241);
font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;

}

section {
background: white;
border-radius: 15px;
padding: 15px;
width: 1282px;
margin: auto;
box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.286);
}

div {
    text-align: center;
    padding: 1px;
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}